body {
    background-color: #3d1308ff;
}
header {
    background-color: #211103ff;
}
.logo {
    height: 70px;
    margin: 2px;
    padding: 2px;
}
header h2 {
    color: aquamarine;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#text-color {
    color: white;
}
.menu {
    color: blanchedalmond;
    font-size: large;
}
.descripcion {
    color: white;
    font-size: large;
}
.productos-titulo {
    color:cornflowerblue;
    font-size: large;
}
.productos {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}
.productos-subtitulo {
    margin: 30px;
}
.productos-foto {
        height: 500px;
}

Footer {
    background-color: #7b0d1eff;
    text-align: right;
    color: white;    
}



.form {
    color: white;
}



.servicios {
    color: white;
}
.servicios-articles {
    height: 250px;
    margin: 80px;
    color:white;
}