header {
background-color: #211103ff;
}
    .logo {
    height: 70px;
    margin: 2px;
    padding: 2px;
    }
        .h2 {
        color: aquamarine;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
            .text-color {
                color: white;
            }